@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap');

body{
    margin: 0px;
    font-family: 'Castoro', serif;
}
:root{
    --primary-color: #ffe342;
}
.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
    /* text-align: center; */
}
#txt{
    width: 80%;
    min-height: 20vh;
    padding: 1rem;
    margin: 1rem;
    display: block; /*turns textarea into block,hence our button goes down**/
}

#btn{
    margin-left: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover{
    color: rgb(117 123 156);
}

#div-heading{
    margin:1rem;
    font-weight: normal;
    font-size: large;
}


/*since div is just a block we have to give border as well*/
#div-translated{
    overflow: scroll;
    border: 1px solid black;
    width: 80%;
    min-height: 20vh;
    padding: 1rem;
    margin: 1rem;
    display: block;
}

.background{
    background-color: var(--primary-color);
    margin-top: 0;
    padding: 2rem;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    
}
.footer-bg{
    background-color: var(--primary-color);
    padding: 1rem;
    margin-bottom: 0px;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
.footer-heading{
    font-size: medium;
    font-weight: bolder;
}
